.alert {
  padding: 20px;
  background-color: #f9d7da; /* Red */
  color: #84202f;
  margin-bottom: 15px;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 0.1px solid #84202f;
  border-radius: 10px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
