<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to messages</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="error-log" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          
          <div class="alert">
            <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
            <p class="modal-box-text">Welcome to Message me</p>
          </div>
        </div>
      
      </div>
    <div class="bodycontainer">
        <div class="intro">
            <header><h1 class="intro-text">Message<i>Me</i></h1></header>
        </div>
        <div class="f">
            {% if messages %}
                {% for x in messages %}
                    <div class="error" style="color: red;">
                        {{ x }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="login-container"></div>
    </div>
    <script src="{% static 'js/index.js' %}" type="module"></script>
    <script>
    var modal = document.getElementById("error-log");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    function showModalBox(text){
        document.querySelector(".modal-box-text").innerHTML = text.toString()
        modal.style.display = "block"
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
    </script>
</body>
</html>