<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to messages</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="bodycontainer">
        <div class="intro">
            <header><h1 class="intro-text">Message<i>Me</i></h1></header>
        </div>
        <div class="f">
            {% if messages %}
                {% for x in messages %}
                    <div class="error" style="color: red;">
                        {{ x }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- <div class="login">
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="fi">
                    <input type="text" placeholder="username" name="username">
                </div>
                <div class="fi">
                    <input type="password" placeholder="password" name="password">
                </div>
                <div class="fi">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="f">
                <a href="/register/">Create an account</a>
            </div>
        </div> -->
        <div class="login-container"></div>
    </div>
    <script src="{% static 'js/index.js' %}" type="module"></script>
</body>
</html>