{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
    <div class="f" style="display: flex; justify-content : center">
        <button class="compose-new-btn">Compose</button>
        <button class="logout">Logout</button></a>
    </div>
    <div class="compose-new-modal-box" class="modal" style="display:none;">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p class="compose-message">Compose</p>
          <div class="container">
            <form action="/compose/" method="POST" class="compose-form">
              {% csrf_token %}
              <div class="errors">
                  <label for="" class="log"></label>
              </div>
              <input type="text" name="to" id="to" name="firstname" placeholder="To" required/>
              <input type="text" name="title" id="title" name="lastname" placeholder="Title">
              <textarea id="subject" name="body" placeholder="Write something.." style="height:200px"></textarea>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
      </div>
      {% if messages %}
            {% for x in messages %}
                <div class="error" style="color: red;">
                    {{ x }}
                </div>
            {% endfor %}
        {% endif %}
    {% if data %}
        {% for x in data %}
            {% if x.read == "True" %}
            <a href="/view/from/{{ x.from_person }}/{{ x.to_person }}/{{ x.id }}">
                <div class="container">
                    <p>{{ x.from_person }}-{{ x.title }}</p>
                    <span class="time-right">{{ x.time }}</span>
                </div>
            </a>
            {% else %}
            <a href="/view/from/{{ x.from_person }}/{{ x.to_person }}/{{ x.id }}">
                <div class="container darker">
                    <p>{{ x.from_person }}<br></p><hr><p>{{ x.title }}</p>
                    <span class="time-right">{{ x.time }}</span>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <script src="{% static 'js/inbox/inbox.js' %}" type="module"></script>
</body>
</html>