<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
    <style>
        * {
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <div class="contai">
        <h1 style="font-family: sans-serif;">{{ data.title }}</h1>
        <br>
        <h3>{{ data.body }}</h3>

        <a href="/delete/{{ data.to_person }}/{{ data.id }}">
            <button>Delete</button>
        </a>
    </div>
</body>
</html>